<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: headerfiles(pageTitle='Заказы')}"></head>
<body>

<div th:replace="~{fragments/header.html :: header}"></div>


<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card" style="width: 100%; max-width: 1200px;">
        <div class="card-header">
            Подробности о заказе
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr th:each="orderData : ${orders}">
                        <th scope="col" style="width: 50px;">ID Заказа</th>
                        <th scope="col">Клиент: <span th:text="${orderData.clientName}"></span></th>
                        <th scope="col">Дата: <span th:text="${orderData.date}"></span></th>
                        <th scope="col">Итоговая сумма: <span th:text="${orderData.total}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Перебор всех заказов -->
                    <tr th:each="orderDetail : ${orders}">
                        <!-- Отображаем ID заказа -->
                        <td th:text="${orderDetail.id}"></td>

                        <!-- Вложенная таблица для товаров этого заказа -->
                        <td colspan="4">
                            <table class="table table-bordered"  style="width: 100%;">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 100px;">Код</th>
                                    <th scope="col">Товар</th>
                                    <th scope="col" style="width: 60px;">Объём</th>
                                    <th scope="col" style="width: 80px;">Количество</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Итог</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="items : ${orders.item}">
                                    <td th:text="${items.code}"></td> <!-- Товар -->
                                    <td th:text="${items.name}"></td> <!-- Товар -->
                                    <td th:text="${items.volume}"></td> <!-- Товар -->
                                    <td th:text="${items.amount}"></td> <!-- Количество -->
                                    <td th:text="${items.price}"></td> <!-- Цена -->
                                    <td th:text="${items.total}"></td> <!-- Итоговая сумма -->
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <input type="button" value="Назад" class="btn btn-primary" onclick="history.back();">
        </div>
    </div>
</div>
