<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: headerfiles(pageTitle='Заказы')}"></head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card" style="width: 100%; max-width: 1200px;">
        <div class="card-header">
            Заказы
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <div class="row row-cols-1 row-cols-md-4 g-2">
                    <form th:action="@{/orders/search}" method="get" class="row g-3 align-items-center w-100">
                        <!-- Кнопка "Новый заказ" -->
                        <div class="col-12 col-md">
                            <a href="/orders/create" class="btn btn-primary w-100">Новый заказ</a>
                        </div>

                        <!-- Кнопка "Показать всё" -->
                        <div class="col-12 col-md">
                            <a href="/orders" class="btn btn-info w-100">Показать всё</a>
                        </div>

                        <!-- Поле "От:" -->
                        <div class="col-12 col-md">
                            <label for="start" class="form-label">От:</label>
                        </div>
                        <div class="col-12 col-md">
                            <input type="date" name="start" id="start" class="form-control w-100">
                        </div>

                        <!-- Поле "До:" -->
                        <div class="col-12 col-md">
                            <label for="end" class="form-label">До:</label>
                        </div>
                        <div class="col-12 col-md">
                            <input type="date" name="end" id="end" class="form-control w-100">
                        </div>

                        <!-- Кнопка "Поиск" -->
                        <div class="col-12 col-md">
                            <button type="submit" class="btn btn-success w-100">Поиск</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID Заказ</th>
                        <th scope="col">Клиент</th>
                        <th scope="col">Итог</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.clientName}"></td>
                        <td th:text="${order.total}"></td>
                        <td th:text="${order.date}"></td>
                        <td>
                            <a th:href="@{/orders/orderDetails/{id}(id=${order.id})}" class="btn btn-primary btn-sm me-2">More</a>
                            <a th:href="@{/orders/promo/{id}(id=${order.id})}" class="btn btn-info btn-sm me-2">Promo</a>
                            <a th:href="@{/orders/edit-order/{id}(id=${order.id})}" class="btn btn-danger btn-sm me-2">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
