/* Выровнять все заголовки таблицы по центру */
.table thead th {
    text-align: center;
}

/* Выровнять текст в ячейках по центру */
.table tbody td {
    text-align: center;
}

.balance-text {
    font-size: 1.5rem;
}