<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: headerfiles(pageTitle='Заказы')}"></head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card" style="width: 100%; max-width: 1200px;">
    <div class="card-header">
    </div>
    <div class="card-body">
      <!-- Форма поиска -->
      <form th:action="@{/logistics/search}" method="get" class="mb-3">
        <div class="row g-3 align-items-center">
          <!-- Кнопка "Сегодня" -->
          <div class="col-12 col-md-auto">
            <a href="/logistics" class="btn btn-info w-100">Показать</a>
          </div>

          <!-- Поле "От:" -->
          <div class="col-12 col-md-auto">
            <label for="start" class="form-label">От:</label>
          </div>
          <div class="col-12 col-md">
            <input type="date" name="start" id="start" class="form-control">
          </div>

          <!-- Поле "До:" -->
          <div class="col-12 col-md-auto">
            <label for="end" class="form-label">До:</label>
          </div>
          <div class="col-12 col-md">
            <input type="date" name="end" id="end" class="form-control">
          </div>

          <!-- Кнопка "Поиск" -->
          <div class="col-12 col-md-auto">
            <button type="submit" class="btn btn-success w-100">Поиск</button>
          </div>
        </div>
      </form>
      <form th:action="@{/logistics/process-selected}" method="post">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
              <th scope="col" style="width: 16px; height: 16px;">Действия</th>
              <th scope="col">ID Заказ</th>
              <th scope="col">Клиент</th>
              <th scope="col">Итог</th>
              <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="order : ${orders}">
                <td>
                  <input class="form-check-input" type="checkbox" th:value="${order.id}" th:checked="true"
                         name="selectedOrderIds" />
                </td>
                <td th:text="${order.id}"></td>
                <td th:text="${order.clientName}"></td>
                <td th:text="${order.total}"></td>
                <td th:text="${order.date}"></td>
              </tr>
            </tbody>
          </table>
          <div th:if="${errorMessage}" class="alert alert-danger">
            <span th:text="${errorMessage}"></span>
          </div>
        </div>
        <button class="btn btn-success" type="submit">Показать заказы</button>
        <input type="button" value="Назад" class="btn btn-primary" onclick="history.back();">
      </form>
    </div>
    </div>
  </div>
</body>
</html>
